* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* First Section */

.first-section {
    background: url('https://tesla-cdn.thron.com/delivery/public/image/tesla/b03da2fc-ecaa-4554-8df9-8f73e411f360/bvlatuR/std/2880x1800/model-3-hero-desktop') no-repeat center/cover;
    height: 100vh;
}

/* Header */

header {
    height: 52px;
    width: 1366px;
}

/* Tesla Header Logo */

.menu-header-main-logo {
    width: 100px;
    height: 12px;
    padding-top: 1px;
    padding-bottom: 1px;
}

#tesla-logo {
    width: 100px;
    height: 52px;
    display: inline-block;
}

.tesla-container {
    margin: auto;
    padding: 0 20px;
    overflow: auto;
}

.logo {
    display: flex;
    align-items: center;
    block-size: 100%;
}

/* Header Nav Bar */

#navbar ol {
    float: right;
    list-style:none;
    height: 52px;
    align-items: center;
    display: flex;
    width: 960px;
}


.menu-header-nav-list a, .menu-header-second-nav-list a {
    text-decoration: none;
    color: #ffffff;
    font-size: 14px;
    font-family: "Gotham Medium", "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
    line-height: 18px;
    margin-right: 10px;
    margin-left: 10px;
    height: 17px;
    cursor: pointer;
}



@font-face {
    font-family: 'Gotham Medium';
    src: url('fonts/Gotham-Medium.ttf');
    font-style: normal;
    font-weight: 400;
}

@font-face {
    font-family: 'Gotham Book';
    src: url('fonts/Gotham-Medium.otf');
    font-style: normal;
    font-weight: 400;
}

#navbar ol li a {
    display: block;
    text-align: center;
    margin: 0 10px;
}

/* second navbar */

#navbar ul {
    list-style:none;
    float: right;
    height: 52px;
    align-items: center;
    display: flex;
    position: absolute;
    top: 0;
    left: 1080px; 
}

.menu-btn {
    margin-top: -10px;
    width: 38px;
}

/* First Section Body */

.first-section-title {
    text-align: center;
    margin-top: 5px;
}

.first-section-title h1 {
    font-family: "Gotham Medium", "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
    font-weight: 500;
    font-size: 40px;
    line-height: 48px;
    color: #ffffff;
    padding-top: 14px;
    padding-bottom: 8px;
}
 
.hero-region-center-bottom {
    min-width: 100%;
    margin-top: 24.5%;
    margin-bottom: 36px;
}

.hero-region-center-bottom .hero-callouts {
    width: 640px;
    height: 66px;
    margin: 25px 354.5px;
    text-align: center;
}

.callout {
    width: 119.328px;
    margin-left: 20px;
    margin-right: 20px;
    float: left;
}

.hero-callouts {
    color: #fff;
    font-family: "Gotham Medium", "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
}

.callout-title {
    width: 119.328px;
    height: 48px;
    align-items: center;
}

.callout-title p {
    padding-top: 10px;
}

.speedometer-digits {
    width: 64.125px;
    height: 36px;
}

#gotham-28 {
    font-weight: 500;
    font-size: 28px;
    line-height: 36px;
}

#gotham-24 {
    font-weight: 500;
    font-size: 24px;
    line-height: 36px;
}

.callout p {
    width: 119.328px;
    font-size: 12px;
    line-height: 18px;
}

.callout-divider-line {
    border-left: 1px solid #fff;
}

.callout-line {
    height: 66px;
    float: left;
    border-left: 1px solid #fff;
}

.callout-button {
    float: right;
    width: 155px;
    margin-top: 15px;
} 

#btn-callout-order-now {
    font-family: "Gotham Medium", "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
    font-weight: 400px;
    font-size: 12px;
    line-height: 14px;
    width: 160px;
    height: 40px;
    white-space: nowrap;
    border-radius: 20px;
    /* border: 1px solid #171a20; */
    border: 3px solid #fff;
    background: transparent;
    color: #fff;
    cursor: pointer;
}

#btn-callout-order-now:hover {
    background: #fff;
    color: #171a20;
}

.next-section-btn {
    height: 45px;
}

.next-section-btn .arrow-btn {
    background: transparent;
    margin: 20px;
    -webkit-filter: invert(100%);
    filter: invert(100%);
    margin: 3.25px 664.5px;
} 

/* SIDENAV */

    .first-section .side-nav-container {
        width: 60px;
        height: 252px;
        font-size: 22px;
        line-height: 23px;
        margin-top: -500px;
        position: absolute;
        z-index: 5;
        color: #fff;
        font-weight: 400;
        white-space: nowrap;
    }

    .side-nav-container .side-nav-item {
        position: relative;
        margin-top: 5px;
        cursor: pointer;
        
    }

    .side-nav-container .side-nav-item .side-nav-tab {
        margin-left: 13px;
        display: inline;
        border-left: 3px solid #fff;
        width: 3px;
    }

    .side-nav-container .side-nav-item .side-nax-label {
        margin-left: 10px;
        width: 300px;
        height: 23px;
        width: 60px;
        display: inline;
        font-size: 10px;    
    }

    .side-nav-container .side-nav-item a{
        color: #fff;
        text-decoration: none;
        font-family: "Gotham Medium", "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
    }


/* Second Section */

.second-section {
    height: 100vh;
}